name: CI
on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch:
jobs:
  ci:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            name: Windows
          - os: ubuntu-latest
            name: Linux
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
      - name: Azure login
        uses: azure/login@v2.3.0
        with:
          creds: ${{ secrets.AZURE_ACI_CREDENTIALS }}
      - name: Run
        uses: ./
        with:
          connection-string-name: ASBConnectionString
          azure-credentials: ${{ secrets.AZURE_ACI_CREDENTIALS }}
          tag: setup-azureservicebus-action
      - name: Validate
        shell: pwsh
        run: |
          echo "ASBConnectionString = $($Env:ASBConnectionString)"
          if ( $Env:ASBConnectionString -le 0 ) {
            throw "Environment variable 'ASBConnectionString' not set."
          }
          echo "ASBConnectionString_Restricted = $($Env:ASBConnectionString_Restricted)"
          if ( $Env:ASBConnectionString_Restricted -le 0 ) {
            throw "Environment variable 'ASBConnectionString_Restricted' not set."
          }
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: 8.0.x
      - name: Build
        run: dotnet build src --configuration Release
      - name: Run tests
        uses: Particular/run-tests-action@v1.7.0
